
root = true

[*]
end_of_line = lf
insert_final_newline = true

[{*.sh,gitobld*,APKBUILD,build/abuild/apk*}]
charset=utf-8
indent_style=tab
tab_width=4

[Dockerfile]
charset=utf-8
indent_style=tab
tabwidth=8

